" add this to the root directory to configure ideavim
let mapleader=" "

set incsearch
set scrolloff=8
set ignorecase

"map <leader>cl :noh<CR>
nmap <leader>ff <Action>(SearchEverywhere)
nmap <leader>fw <Action>(FindInPath)
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>tt <Action>(RunClass)
nmap <leader>oo <Action>(VcsShowPrevChangeMarker)
nmap <leader>pp <Action>(VcsShowNextChangeMarker)
nmap [e <Action>(GotoPreviousError)
nmap ]e <Action>(GotoNextError)
nmap <leader>e <Action>(ShowErrorDescription)
nmap <leader>rr <Action>(Run)
nmap <leader>rt <Action>(Stop)
" Mirrors nvim's <leader>gl / <leader>gm, which moved from GitLab to GitHub.
" These IDs come from IntelliJ's bundled GitHub plugin; if a mapping does
" nothing, confirm the ID with IdeaVim's :actionlist Github command.
nmap <leader>gl <Action>(Github.Open.In.Browser)
nmap <leader>gm <Action>(Github.Create.Pull.Request)
nmap <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gb <Action>(Annotate)
nmap <leader>mp <Action>(ManageRecentProjects)

nmap <leader>rf <Action>(RenameElement)

set clipboard=unnamed

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'

nmap <leader>gf <Action>(Javascript.Linters.EsLint.Fix)

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
